language: go
sudo: required
os:
- linux

go:
- 1.9
- 1.11

env:
- GO15VENDOREXPERIMENT="1"
before_install:
- go get github.com/mattn/goveralls

stages:
- Test
- Build
- Github Release

script:
- chmod u+x coverage.sh
- "./coverage.sh --coveralls"

jobs:
  include:
  - stage: Build
    if: tag IS blank
    go: 1.9
    script:
    - echo "Build apps ..."
    - chmod u+x build.sh
    - ./build.sh
  - stage: Github Release
    if: tag =~ ^v
    go: 1.9
    script:
    - echo "Deploying to GitHub releases ..."
    - chmod u+x build.sh
    - ./build.sh
